[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:JakeWharton/ActionBarSherlock.git
[submodule "DragNDropList"]
	path = DragNDropList
	url = git@github.com:terlici/DragNDropList.git
